:root {
  --black: rgba(23, 23, 23, 1);
  --blue: rgba(126, 137, 201, 1);
  --light-gray: rgba(255, 255, 255, 0.5);
  --white: rgba(255, 255, 255, 1);
}
/* clear defaults */
h1,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", monospace;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;

  #main {
    width: 75%;

    #header {
      z-index: 1;
      width: 75%;
      height: 10rem;
      position: fixed;
      background-color: var(--black);

      header {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0 0 0;
        flex-direction: row;
        justify-content: space-between;

        #logo img {
          width: 4rem;
          height: auto;
          margin: 1rem;
          border-radius: 50%;
        }
        #links {
          width: 25rem;
          display: flex;
          justify-content: space-around;
        }
        #links a {
          font-size: 1.5rem;
          margin: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #links a:link {
          color: var(--white);
        }
        #links a:visited {
          color: var(--white);
        }
        #links a:hover {
          color: var(--white);
        }
        #links a:active {
          color: var(--white);
        }
      }
    }
    #body {
      margin-top: 9rem;

      h1 {
        font-size: 4rem;
        font-weight: 700;
        color: var(--white);
      }
      p {
        font-size: 1.3rem;
        color: var(--light-gray);
      }
    }
    #footer {
      display: flex;
      justify-content: center;

      footer img {
        margin: 2rem 1rem 2rem 1rem;
        width: 2.3rem;
      }
    }
  }
}
