#resume-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#rudransh-shrivastava {
  margin-top: 1rem;
}

h2 {
  margin: 2rem 0 2rem 0;
}

.project-title {
  margin-top: 2rem;
}

.resume-description {
  padding-left: 2rem;
  margin: 1rem;
}